.wrapper {
  .container {
    display: flex;
    flex-direction: row;
    margin: 10px;
  }
  .img {
    border-radius: 20px;
    margin-right: 10px;
  }
  h1 {
    padding: 0;
    margin: 0;
    color: rgb(75, 75, 75);
  }
  p {
    padding: 0;
    margin: 0;
    color: rgb(75, 75, 75);
  }
  .genre {
    color: #eb6100;
    font-weight: bold;
  }
  .buttons {
    display: flex;
  }
  .duration {
    font-weight: bold;
  }
}

@media screen and (max-width: 519px) {
  .wrapper {
    margin: 0 10px;
    text-align: center;
    .container {
      padding-top: 10px;
      display: flex;
      flex-direction: column;
    }
    .img {
      border-radius: 20px;
      margin-right: 0px;
      margin: 0 auto;
    }
    h1 {
      padding: 0;
      margin: 0;
      color: rgb(75, 75, 75);
      line-height: 40px;
    }
    p {
      padding: 0;
      margin: 0;
    }
    .genre {
      color: #eb6100;
      font-weight: bold;
    }
    .buttons {
      display: flex;
      margin: 10px 0px;
    }
    .duration {
      font-weight: bold;
    }
  }
}
