.wrapper {
  .container {
    display: flex;
    flex-direction: row;
  }
  .img {
    border-radius: 20px;
    margin-right: 10px;
  }
  h2 {
    padding: 0;
    margin: 0;
  }
  p {
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 519px) {
  .wrapper {
    margin: 0 10px;
    text-align: center;
    .container {
      padding-top: 10px;
      display: flex;
      flex-direction: column;
    }
    .img {
      border-radius: 20px;
      margin-right: 0px;
      margin: 0 auto;
    }
    h2 {
      padding: 0;
      margin: 0;
    }
    p {
      padding: 0;
      margin: 0;
    }
  }
}
